# Lista de Exercícios - Biblioteca Pandas
Este notebook contém a resolução dos exercícios sobre a biblioteca Pandas.

In [ ]:

import pandas as pd

# Carregar o dataset (substitua pelo caminho correto do arquivo)
df = pd.read_csv("vendas_de_ingressos.csv")

# Exibir as primeiras linhas para ver a estrutura dos dados
df.head()

In [ ]:

# 1. Exibir a quantidade de linhas e colunas do DataFrame
df.shape

In [ ]:

# 2. Exibir as 7 primeiras linhas do DataFrame
df.head(7)

In [ ]:

# 3. Exibir as 10 últimas linhas do DataFrame
df.tail(10)

In [ ]:

# 4. Renomear as colunas de forma permanente
df.rename(columns={
    "Age": "Idade",
    "Ticket_Price": "Preco_do_Ingresso",
    "Movie_Genre": "Genero",
    "Seat_Type": "Tipo_de_Assento",
    "Number_of_Person": "Numero_de_Pessoas",
    "Purchase_Again": "Compraria_Novamente"
}, inplace=True)

df.head()

In [ ]:

# 5. Resumo estatístico dos dados numéricos
df.describe()

In [ ]:

# 6. Filtrar os dados por gênero
df["Genero"].unique()

In [ ]:

# 7. Exibir os dados das linhas 12 a 20 (inclusive)
df.iloc[11:20]

In [ ]:

# 8. Exibir os dados das linhas 35, 38, 42 e 50
df.iloc[[34, 37, 41, 49]]

In [ ]:

# 9. Exibir os dados em que o tipo de assento é Standard
df[df["Tipo_de_Assento"] == "Standard"]

In [ ]:

# 10. Exibir os dados em que as idades dos consumidores estão entre 20 e 45 anos (inclusive)
df[(df["Idade"] >= 20) & (df["Idade"] <= 45)]

In [ ]:

# 11. Criar um novo DataFrame em que o gênero dos filmes assistidos é Comedy
df_comedy = df[df["Genero"] == "Comedy"]
df_comedy

In [ ]:

# 12. Criar um novo DataFrame exibindo registros de Preço do Ingresso, Gênero e Tipo de Assento nos clientes que comprariam novamente
df_comprariam_novamente = df[df["Compraria_Novamente"] == "Yes"][["Preco_do_Ingresso", "Genero", "Tipo_de_Assento"]]
df_comprariam_novamente

In [ ]:

# 13. Criar uma nova Series filtrando os dados pelo Tipo de Assento
tipo_assento_series = df["Tipo_de_Assento"]
tipo_assento_series

In [ ]:

# 14. Excluir a coluna Ticket_ID de forma permanente
df.drop(columns=["Ticket_ID"], inplace=True)
df.head()

In [ ]:

# 15. Verificar a quantidade de valores nulos no dataset
df.isnull().sum()

In [ ]:

# 16. Verificar a quantidade de valores NaN no dataset
df.isna().sum()

In [ ]:

# 17. Utilizar iloc para exibir as linhas 15 a 20 e as colunas Idade, Preço_do_Ingresso e Gênero
df.iloc[14:20, [0, 1, 2]]

In [ ]:

# 18. Utilizar iloc para exibir as linhas 3, 8, 10 e 13 e as colunas Gênero e Número de Pessoas
df.iloc[[2, 7, 9, 12], [2, 4]]